header {
  margin-bottom: 20px;
  padding-top: 24px;
  border-bottom: 1px solid var(--gray-1);
}

h1 {
  text-align: center;
  margin: 0 0 30px;
  font-size: 2.25rem;
  font-weight: var(--bold);
}

.nav-tabs {
  margin-top: 14px;
}

.tabs {
  font-size: 0.875rem;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  font-weight: var(--semi-bold);
}

.tab {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0 10px;
  color: var(--header-text);
  transition: all 0.4s;
}

.tab span {
  display: inline-block;
  height: 4px;
  width: 0;
  margin-top: 10px;

  position: relative;
  left: 50%;

  border-radius: 4px 4px 0 0;
  background-color: var(--blue);

  transition: all 0.4s;
}

.tab span.visible {
  width: 150%;
  left: calc(0px - 24%);
}

.tab:hover {
  color: var(--black);
}